@import "../../colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  .cart-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid $neutral-medium-gray;
    border-radius: 8px;
    background-color: $neutral-white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .cart-item-name {
      font-size: 1.2em;
      color: $primary-dark-gray;
      flex: 1 1 50%; // Ocupa la mitad del espacio en pantallas pequeñas
    }

    .cart-item-price {
      color: $secondary-green;
      font-weight: bold;
      font-size: 1.2em;
      flex: 1 1 50%; // Ocupa la mitad del espacio en pantallas pequeñas
      text-align: right; // Alinea el precio a la derecha en pantallas pequeñas
      margin-top: 10px; // Añade un margen superior para separar el precio del nombre en pantallas pequeñas
    }
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .clear-cart-button,
  .create-order-button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    flex: 1 1 100%; // Ocupa el 100% del ancho en pantallas pequeñas
    margin-top: 10px; // Añade un espacio entre los botones en pantallas pequeñas
  }

  .clear-cart-button {
    background-color: $accent-red;
    color: $neutral-white;

    &:hover {
      background-color: darken($accent-red, 10%);
    }
  }

  .create-order-button {
    background-color: $primary-blue;
    color: $neutral-white;

    &:hover {
      background-color: darken($primary-blue, 10%);
    }
  }
}

.total-amount {
  margin-top: 20px;
  font-size: 1.5em;
  color: $primary-dark-gray;
}

@media screen and (min-width: 768px) {
  .cart-container {
    .cart-item {
      flex-direction: row;
    }
  }

  .buttons {
    .clear-cart-button,
    .create-order-button {
      flex: 0 1 auto; 
      margin-top: 0; 
    }
  }
}
