// Colores Primarios
$primary-blue:  #278ACB;
$primary-dark-gray: #333333;

// Colores Secundarios
$secondary-green: #32CD32;
$secondary-orange: #FFA500;

// Colores Neutros
$neutral-white: #FFFFFF;
$neutral-light-gray: #F5F5F5;
$neutral-medium-gray: #B0B0B0;

// Colores de Énfasis
$accent-red: #FF0000; 
$accent-yellow: #FFC300;
